{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
</head>
<body>
    <section>
        <div class="habits_container">
            <input type="text" name="add_habit" placeholder="Напишите задачу"><br>
            <input type="text" name="add-comment" placeholder="Напишите комментарий">
        </div>
    </section>
</body>
</html>