{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting List</title>
    <link rel="stylesheet" href="{% static 'styles_hw/meeting.css' %}">
    <link rel="stylesheet" href="{% static 'styles_hw/checkbox.css' %}">
</head>
<body>
    <section class="picture">
        <img id=image src="{% static 'img/meeting.webp' %}">
    </section>
        <h2 id="title">ОРГАНИЗОВАТЬ ВСТРЕЧУ</h2>
        <form  action="{% url 'add-list' %}" method="POST">
            {% csrf_token %}
            <input id="task-field_inputName" type="text" 
            name="add_name" placeholder="ФИО"><br>
            
            <input id="task-field_inputPhone" type="text" 
            name="add_phone" placeholder="+971000000000"><br>

            <input id="task-field_inputDate" type="date" 
            name="add_date" placeholder="Напишите день встречи"><br>

            <input id="task-field_inputcomment" type="text" 
                name="add_comment" placeholder="Напишите комментарий"> <br>   
    
            <button id="task-field_button">ДОБАВИТЬ</button><br>
        </form>  
    </section>
    <section class="tomeet_task">
        {% for tomeet in tomeet_list %}
        <div class="task-item
        {% if tomeet.is_favorite %}
                marked
            {% endif %}">
            <div class="task-item_header">
                <label class="checkbox_container">
                    <input type="checkbox">
                    <span class="checkmark"></span> 
                    <h4>{{ tomeet.person }}</h4>    
                </label>
                <h5>{{ tomeet.phone_number }}</h5>
                <p id="comment">{{tomeet.comment}}</p>
            </div>
            <div class="task-item_footer">
                <p id="date">{{tomeet.date_of_meeting}}</p>
                <div class="action_buttons">
                    {% if tomeet.is_favorite %}
                    <a href="{% url 'unmark-tomeet' tomeet.id %}"><input type="button" class="btn_mark" value="Favorite"></a>
                    {% else %}
                    <a href="{% url 'mark-tomeet' tomeet.id %}"><input type="button" class="btn_mark" value="Add to favorites"></a>
                    {% endif %}
                    <a href="{% url 'delete-tomeet' tomeet.id %}"><input type="button" id="btn_delete" value="Delete"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</body>
</html>