{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting list</title>
    <link rel="stylesheet" href="{% static 'styles_hw/meeting.css' %}">
</head>
<body>
    <section>
        <div class="create_container">
            <input 
            class="create_input" type="text" placeholder="Напишите сюда новую встречу">
            <button class="create_button">ДОБАВИТЬ</button>
        </div>
        <div class="tomeet_container">
            <div class="meeting_element">
                <div class="meeting_elemen_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>     
                    </label>
                    <h4>{{ tomeet.person }}</h4>

                </div>

            </div>

        </div>
    </section>
    
</body>
</html>