
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color:rgb(140, 138, 160);
    width: 100%;
    margin:10px 20px;
    padding: 15px;
}

section{
    margin:15px 20px;
}
#image{
    width: 70%;
    height: 300px;
}

#title{
    color:rgb(49, 47, 57);
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 20px;
}

input:not([type='radio']),button{
    border: none;
    outline: none;
    appearance: none;
    background: none;
    cursor: initial;
}
 
input[type='text']{
    display: block;
    width: 70%;
    font-size: 18px;
    padding:12px 15px;
    background-color: rgba(226, 224, 233, 0.963);
    border-radius: 5px;
    box-shadow: 2px 0px 5px rgb(169, 167, 167);
    margin-bottom: 15px;
 }
 input:focus{
  background-color: white;
  border-color: #2f393e;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
 }
 input::placeholder{
    opacity: 0.5;
 }

.options{
    width: 70%; 
    display :flex;
    flex-wrap: wrap;
    justify-content: space-around;  
    align-items: center;
    background-color: azure;
    margin-bottom: 30px;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    cursor: pointer;
}
.options label{
display: flex;
}

 button{
    display:block;
    width: 70%;
    font-size: 18px;
    color:azure;
    padding:12px 15px;
    background-color: rgba(103, 71, 219, 0.963);
    border-radius: 5px;
    box-shadow: 2px 0px 5px rgb(58, 58, 60);
    margin-bottom: 15px;
    cursor:pointer;
    transition: 0.2s ease-in-out;
 }
 button:hover{
    opacity: 0.75;
 }
 
 .goal_task{
    display: flex;
    width: 68.5%;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 0px 5px rgb(169, 167, 167);
    background-color: rgb(245, 251, 251);
    padding:12px 15px;
    margin:30px 20px;
}
.task-item_header,.task-item_footer{
    color: #343338;
    font-family: sans-serif;
    padding: 5px;
}

.task-item_header h4{
    margin-left: 21px;
    margin-top: 10px;
    font-size: 18px;
}
.task-item_header h5{
    margin-top: 5px;
    font-size: 16px;
}


.task-item_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#date{
    font-size: 16px;
}

.task-item_footer.action_buttons{
    display:flex;
}

.task-item_footer img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
}

